.dropdown-content {
    min-width: 200px !important;
}

/* Custom CSS to move sidenav trigger to the right */
.nav-wrapper .sidenav-trigger {
    position: absolute;
    right: 0;
}

.logo-img {
    height: 62px;
    width: auto;
    padding: 2px;
    margin: 0 0 0 10px;
}

.brand-logo {
    height: 100%;
    width: auto;
    left: 0 !important;
    transform: translateX(0) !important;
    /* padding: 2px; */
    /* margin: 0 0 0 10px; */
}
/* 
@media (max-width: 992px) {
    .logo-img {
        margin: 0 2px 0 0;
    }
} */

@media (max-width: 600px) {
    .logo-img {
        height: 54px;
    }
}