{{ define "header" }}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo left">
                <!-- <img src="/static/logo.png" alt="CulinaryAI" id="logo" class="img-fluid mx-auto d-block"> -->
                <img src="/static/logo.png" alt="CulinaryAI">
            </a>
            <!-- <a href="#" data-target="slide-out" class="right sidenav-trigger"><i class="material-icons">menu</i></a> -->
            {{ if .User }}
            <!-- Dropdown for logged in user -->
            <ul class="right">
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown2">
                        <i class="material-icons right">menu</i>
                    </a>
                </li>
            </ul>
            <ul id="dropdown2" class="dropdown-content">
                <li>
                    <a href=""><i class="material-icons right">settings</i>Settings</a>
                </li>
                <li>
                    <a href=""><i class="material-icons right">logout</i>Logout</a>
                </li>
            </ul>
            {{ else }}
            <!-- Dropdown for guest -->
            <ul class="right">
                <li><a href="/signup"><i class="material-icons right">person</i>Sign up</a></li>
                <li><a href="/login"><i class="material-icons right">login</i>Login</a></li>
            </ul>
            {{ end }}
        </div>
    </nav>
</div>
{{ end }}