<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" . }}
</head>

<body>
    <header>
        {{ template "header" . }}
    </header>

    <div class="container">
        <!-- Inactive (not saved) state -->
        <i class="material-icons toggle-symbols">favorite_border</i>

        <!-- Active (saved) state -->
        <i class="material-icons toggle-symbols">favorite</i>

        <!-- Inactive (not deleted) state -->
        <i class="material-icons toggle-symbols">delete</i>

        <!-- Active (deleted) state -->
        <i class="material-icons toggle-symbols">auto_delete</i>

        <!-- Active (in history) state -->
        <i class="material-icons toggle-symbols">history</i>

        <!-- Main App -->
        <div class="input-group mb-3">
            <label for="userPromptInput">Supplimental prompt (optional):</label><br>
            <input type="text" id="userPromptInput" placeholder="ex: Something with beef, Five-course meal"
                aria-label="ex: Something with beef, Five-course meal" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn" type="button" id="button1">Button 1</button>
                <button class="btn" type="button" id="button2">Button 2</button>
            </div>
        </div>
        <div id="markdown-display" class="markdown-display rounded p-3 bg-black">
            <!-- Markdown content will be inserted here -->
        </div>
    </div>

    <div id="settingsModal" class="modal">
        <div id="settingsContent" class="modal-content"></div>
        <div class="modal-footer">
            <button id="saveSettings" class="waves-effect waves-green btn-flat">Save</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="/static/app.js"></script>
</body>

</html>