<!DOCTYPE html>
<html>

<head>
    {{ template "head" . }}
</head>

<body>
    <header>
        {{ template "header" . }}
    </header>

    <div class="container">
        <h2>Log in</h2>
        <form id="login-form" spellcheck="false">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" id="login-submit" value="Log in">
        </form>
    </div>
    <script>
        document.getElementById('login-form').addEventListener('submit', function (e) {
            e.preventDefault();

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: document.getElementById('username').value,
                    password: document.getElementById('password').value,
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle successful login (e.g., redirect to home page, show success message, etc.).
                    M.toast({ html: 'Success!' })
                    window.location.href = '/';
                })
                .catch(error => {
                    // Insert the error message into the "error-message" div.
                    // document.getElementById('error-message').innerText = error.message;
                    M.toast({ html: error.message })
                });
        });
    </script>
</body>

</html>