<div class="modal-content">
    <h4>User Settings</h4>
    {{ if not .isValid }}
    <p class="error">Your OpenAI key is not valid. Please enter a valid key.</p>
    {{ end }}
    <form id="settingsForm">
        <div class="input-field">
            {{ if and .isValid .User.Settings.OpenAIKey }}
            <!-- <input id="apikey" type="password" value="{{ .User.Settings.OpenAIKey }}"> -->
            <label for="apikey" class="active">OpenAI API Key:</label>
            <input id="apikey" type="password" placeholder="OpenAI key is already valid">
            {{ else }}
            <label for="apikey">OpenAI API Key:</label>
            <input id="apikey" type="password">
            {{ end }}
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="saveSettings" class="waves-effect waves-green btn-flat">Save</button>
</div>