<div class="modal-content">
    <h4>User Settings</h4>
    {{ if not .isValid }}
    <p class="error">Your OpenAI key is not valid. Please enter a valid key.</p>
    {{ end }}
    <form id="settingsForm">
        <div class="input-field">
            <label for="apikey">OpenAI API Key:</label>
            {{ if and .isValid .User.Settings.OpenAIKey }}
            <!-- <input id="apikey" type="password" value="{{ .User.Settings.OpenAIKey }}"> -->
            <input id="apikey" type="password" value="OpenAI key">
            {{ else }}
            <input id="apikey" type="password">
            {{ end }}
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="saveSettings" class="waves-effect waves-green btn-flat">Save</button>
</div>
<script>
    document.getElementById('saveSettings').addEventListener('click', function () {
        // Retrieve the API key from the form
        var apikey = document.getElementById('apikey').value;

        // Send the PUT request to the server
        fetch('/users/settings', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ apikey: apikey })
        })
            .then(response => response.json())
            .then(data => {
                // Assuming the response has a 'message' property
                if (data.message) {
                    M.toast({ html: data.message });
                }
            })
            .catch(error => M.toast({ html: error.message }));

        // Close the modal
        var modalInstance = M.Modal.getInstance(document.getElementById('settingsModal'));
        modalInstance.close();
    });
</script>